<configuration>
    <configSections>
        <section name="bugsnagConfig" type="Bugsnag.ConfigurationStorage.ConfigSection, Bugsnag" />
    </configSections>
    <bugsnagConfig apiKey="12345678901234567890123456789012" />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
    </runtime>
</configuration>
